spring:
  application:
    name: travel-poi-service

  datasource:
    url: jdbc:postgresql://localhost:5432/travel_poi
    username: postgres
    password: postgres

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

server:
  port: 8082

management:
  endpoints:
    web:
      exposure:
        include: health,info
